<visicutPreferences>
  <defaultMapping>Cut red, engrave black and bitmaps, mark blue</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <labName>TkkrLab</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <fabqrPrivateURL></fabqrPrivateURL>
  <fabqrPublicURL></fabqrPublicURL>
  <fabqrPrivateUser></fabqrPrivateUser>
  <fabqrPrivatePassword></fabqrPrivatePassword>
  <windowBounds>
    <x>177</x>
    <y>23</y>
    <width>1161</width>
    <height>798</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>Don't stare</string>
    <string>into</string>
    <string>the beam</string>
    <string>with your</string>
    <string>one good eye</string>
  </recentFiles>
  <lastMaterial>Basis materiaal</lastMaterial>
  <lastLaserDevice>CW3040</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags></laserCutterTags>
  <supportedExtensions></supportedExtensions>
</visicutPreferences>
