<visicutPreferences>
  <defaultMapping>Cut red, engrave black and bitmaps, mark blue</defaultMapping>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <labName>TkkrLab</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <fabqrPrivateURL></fabqrPrivateURL>
  <fabqrPublicURL></fabqrPublicURL>
  <fabqrPrivateUser></fabqrPrivateUser>
  <fabqrPrivatePassword></fabqrPrivatePassword>
  <windowBounds>
    <x>40</x>
    <y>23</y>
    <width>1369</width>
    <height>843</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>/Users/zeno/.visicut/examples/cut engrave mark.svg</string>
    <string>/Users/zeno/.visicut/examples/block.svg</string>
    <string>/Users/zeno/.visicut/examples/block filled.svg</string>
    <string>/Users/zeno/.visicut/examples/testpattern.ls</string>
    <string>/Users/zeno/.visicut/examples/text.svg</string>
  </recentFiles>
  <lastMaterial>Acrylic</lastMaterial>
  <lastLaserDevice>tkkrlaser</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags></laserCutterTags>
  <supportedExtensions></supportedExtensions>
</visicutPreferences>